<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>E-commerce</title>
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/formstyle.css" />
	</head>
	<body>
		<div class="forgot-password">
			<h1>Forgot Password</h1>
			<label for="email">Enter your registered email address</label>
			<form action="/forgotPassEmail" method="post">
				<input
					type="email"
					name="email"
					id="email"
					placeholder="Please enter your email address"
					class="forgot-email"
				/>
				<p class="red-alert"><%= message %></p>
				<input
					type="submit"
					value="RESET PASSWORD"
					id="forgotPassBtn"
					name="forgotPassBtn"
				/>
			</form>
			<p id="divider">OR</p>
			<div class="forgotpass-options">
				<a href="/login" id="bottom-login" class="bottom-login-btn">Login</a>
				<a href="/signup" id="bottom-login">Signup</a>
			</div>
		</div>
	</body>
</html>
