<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>E-commerce</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<%- include('./partials/header.ejs') -%>
		<div class="container">
			<main><%- include('./partials/data.ejs') -%></main>
			<button id="loadMore" class="0">Load more</button>
		</div>
		<script src="/js/script.js"></script>
	</body>
</html>
